<h1>Assessment Challenge 1</h1>
<p>Tasks Manager</p>

<br>
<h3>Create a new task</h3>
  <form action="/" method="post">
    <input type="text" name="task[title]" value="task title">
    <input type="text" name="task[content]" value="your task">
    <input type="submit" value="Create Task!">
  </form>
<br>

<% @tasks.each do |t| %>
  <%=   t.title   %><br>
  <%=   t.content %><br>
  status: <%= task_status(t.complete?) %><br>
  <a href='/task/<%=t.id%>'>Update task?</a><br><br>
<% end %> 
